*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
}
html{
    width: 100%;
}
.triangle{
    display: inline-block;
    width:  0px;
    height: 0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
    z-index: 5;


}
.redpoint{
     position: relative;
}
.redpoint::after{
    content: '';
    z-index: 3;
    position: absolute;
    left:26px;
    top: 3px;
    display: inline-block;
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
}
 
.bluetriangle{
    display: inline-block;
    position: relative;
    left:  0;
     top: -20px;
    width:  0px;
    height: 0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #93c5e3;
    z-index: 5;
}